<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
  <body>
    <div id="app">
      <div class="newTask">
          <input type="text" v-model="newTodo" @keypress.enter="addTodo">
      </div>
      <ol class="todos">
        <li v-for="todo in todoList">
          <input type="checkbox" v-model="todo.done">
          {{todo.title}} {{todo.date}}
          <span v-if="todo.done">已完成</span>
          <span v-else>未完成</span>
          <button @click="removeTodo(todo)">X</button>
        </li>
      </ol>
    </div>
   
    <script src="bundle.js"></script>
  </body>
</html>