<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
  <body>
    <div id="app">
      {{ message }} {{ text}}
    </div>
    <div id="app-2">
      <span v-bind:title="message"> <!--'v-'是指令的前缀-->
        把你的鼠标浮在我上面
      </span>
    </div>
    <div id="app-3">
      <p v-if="seen">你能看见我</p>
      <!--v-else 元素要紧跟v-if/v-else-if 元素的后面，不然不会被识别出来-->
      <p v-else>其实你看不到我</p>
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="app-5">
      <p v-once>{{ message }}</p>
      <!--这里的click 处理函数要写在 methods对象中-->
      <!--<button v-on:click="reverseMessage">Reverse Message</button>  -->
      <button @click="reverseMessage">Reverse Message</button>  
    </div>
    <div id="app-6">
      <p>{{ message }}</p>
      <!--v-model 是-->
      <input v-model="message">
    </div>

    <div id="app-7">
      <ol>
        <!-- Now we provide each todo-item with the todo object    -->
        <!-- it's representing, so that its content can be dynamic -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>
    <div id="app-8">
      <ol>
        <!-- Create an instance of the todo-item component -->
        <todo-item></todo-item>
      </ol>
    </div>
    <div id="example">
      {{a}}
    </div>
    <div id="example-1">
      <p>Original message: "{{ message }}"</p>
      <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>
    <div id="demo">{{ fullName }}</div>
    <div id="app-9">
      <div class="static"
          v-bind:class="classObject">
          你好
      </div>
    </div>
    <div id="app-10">
        <div v-if="loginType ==='username' ">
          <label>Username</label>
          <!--如果没有加key属性的话，input是公用的-->
          <!--<input placeholder="Enter your username" key="username-input">-->
          <input placeholder="Enter your username">
        </div>
        <div v-else>
          <label>Email</label>
          <!--<input placeholder="Enter your email address" key="email-input">-->
          <input placeholder="Enter your email address">
        </div>
        <button @click="changeLoginType">toggle</button>
    </div>
    <!--基本用法 v-for 可以有两个参数  第二个就是索引  of 可以替代 in -->
    <ul id="example-2">
      <li v-for="item in items">
        {{ item.message }}
      </li>
    </ul>
    <ul id="example-3">
      <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
      </li>
    </ul>
    <ul id="repeat-object" class="demo">
      <!--<li v-for="value in object">
        {{ value }}
      </li>-->
       <li v-for="(value, key, index) in object">
          {{ index }}.{{ key }}: {{ value }}
      </li>
    </ul>
    <div id="one">
      <span v-for="n in 10">{{ n }}</span>
    </div>
    <div id="example-4">
      <button v-on:click="counter += 1">增加 1</button>
      <p>这个按钮被点击了 {{ counter }} 次。</p>
    </div>
    <div id="example-5">
      <!-- `greet` 是在下面定义的方法名 -->
      <button v-on:click="greet">Greet</button>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>